/*Specification*/

@import "sassFunc.scss";

$mainColor: #4D4E53;

body{
  font-family: 'Open Sans',Arial,sans-serif;
    line-height: 1.5;
 /*  display: grid;
 
 grid-display-areas:
 "nav article";
 
 grid-template-rows: 1fr ;
 grid-template-columns: 300px 1fr;
 grid-gap: 10px;
 height: 100vh;
 margin: 0;
  */
}

 display: grid;
  grid-template-columns: 20vw auto;

.nav{
  position: fixed;
  color: $mainColor;
  width:  20vw;

  /* margin: 20px 0 10px 15px; */
 
  header{
    justify-self: start;
    font-size:  em(30px);
    margin-left: 25px;
    position: fixed;
      
  }

  h3{
    margin-bottom: 10px;  
    font-size: em(25px); 
    height: 15px;
    font-weight:  regular;   
  }

  .menu{

    justify-self: start;
    margin-top: 30px;
    list-style-type: none;
    line-height: em(30px);
    

     li{
      border-bottom: 1px solid $mainColor;
      margin-bottom:  50px;
    }

    a{
      font-size: em(16px);
      text-decoration: none;
      color: $mainColor; 
      letter-spacing: 1px;

    } 
  }
}