/*Specification*/
@import "bourbon";
@import "fonts.css";
@import "sassFunc.scss";

$main-color: #f39f18;
$headers-color: #2c3949;


body{
  font-size: 15px;
  min-width: 320px;
  position: relative;
  line-height: 1.66em;
  font-family: "RalewayRegular", sans-serif;
  overflow: hidden;
  color: #333333;
}


a, a:hover, a:focus, a:active{
  color: $main-color;
  text-decoration: underline;
}

.headers{
  font-family: "PFCentroSlabProMedium", sans-serif;
}

h1, h2, h3, h4, h5, h6{
  @extend .headers;
  text-transform: uppercase;
  font-weight: normal;
  color: $headers-color;
}

h1 {
  font-size: em(48px);
  text-transform: none;
}

h2{
  font-size: em(30px);
}

h3{
  font-size: em(24px);
}

button {
  border-radius: 20px;
  color: #cccccc;
}

b, strong{
  font-family: "RalewayBold", $font-stack-helvetica;
}

/*Header*/

.before{
  content:"";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.head__main{
  min-height: 620px;
  background-size: cover;
  background-position: center;
  position: relative;
  &::before{
    @extend  .before;
    background: #394b5f;
    opacity: .85;
  }

}

.top-line{
  padding-top: 45px;
  min-height: 160px;
  background: url(../img/top_gradient.png);
}

h1{
  text-transform: none;
}

.head__logo{
  img{
    width: 100px;
  }
}

.head__topMenu{
  font-size: em(14px);
  li{
    line-height: 48px;
    padding: 0 22px;
  }

}